<header>
  <div>
    <h1>Grams App</h1>
    <h2>Classy Instagram App for iPad</h2>
    <label>Photos by <a href="http://instagram.com/kylesteed" rel="external nofollow">@kylesteed</a></label>
  </div>
</header>
<section>
  <div class="grater-container grater">
    <div>
      <div class="headshot sam">
        <a href="https://twitter.com/soffes" rel="external nofollow" class="twitter">@soffes on Twitter</a>
        <a href="http://instagram.com/soffes" rel="external nofollow" class="instagram">@soffes on Instagram</a>
      </div>
      <p>This dude is <a href="http://soff.es" rel="external nofollow">Sam</a>, coding from Kentucky.</p>
    </div>
    <div>
      <div class="headshot oykun">
        <a href="https://twitter.com/oykun" rel="external nofollow" class="twitter">@oykun on Twitter</a>
        <a href="http://instagram.com/oykun" rel="external nofollow" class="instagram">@oykun on Instagram</a>
      </div>
      <p>This one is <a href="http://oykun.com" rel="external nofollow">Oykun</a>, designing from Manchester.</p>
    </div>
  </div>
</section>
<footer>
  <form action="http://nothingmagical.createsend.com/t/j/s/djurii/" method="post" id="subForm">
    <p><label for="djurii-djurii">Hey you two, notify me when the app is released at</label> <input type="email" name="cm-djurii-djurii" id="djurii-djurii" placeholder="my@email.com"></p>
  </form>
</footer>
