<!DOCTYPE html>
<html>
<head>
  <title>Grams</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <link href="http://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
<%= yield %>
</body>
</html>
